SUPRACRAWL_USER_AGENT=SupraCrawl/0.1 (+https://github.com/chmodmasx/SupraCrawl)
SUPRACRAWL_REQUEST_TIMEOUT_S=10
SUPRACRAWL_MAX_REDIRECTS=5
SUPRACRAWL_MAX_HTML_BYTES=5000000
SUPRACRAWL_MIN_USEFUL_CHARS=500
SUPRACRAWL_MAX_CONTEXT_TOKENS=3500
SUPRACRAWL_MAX_CHUNKS_PER_DOCUMENT=3
SUPRACRAWL_EXTRACTOR_WORKER_URL=http://extractor-worker:3000
SUPRACRAWL_EXTRACTOR_WORKER_TIMEOUT_S=12
SUPRACRAWL_BROWSER_ENABLED=true
SUPRACRAWL_OBEY_ROBOTS_TXT=true
SUPRACRAWL_REDIS_URL=redis://redis:6379/0
SUPRACRAWL_CACHE_TTL_S=21600
